{% include 'head.twig' %}
    <body>
        <div class="page-header" style="text-align:center">
            <h1>{{ code }} - Error</h1>
        </div>
        <div class="container">
            <h2>{{ errorMessage }}</h2>
        </div>
    </body>
{% include 'foot.twig' %}
