{% include 'head.twig' %}
    <body>
        <div class="page-header text-center">
            <h1>Usage Instructions</h1>
        </div>
        <div class="container">
            <h4>
                To use this service make a GET request to
                <strong>
                    {{ requestUri }}location/{mediaId}?token=yourInstagramAccessToken
                </strong>
                using the id of the media object as <strong>mediaId</strong>.
            </h4>
            <h4>
                You can also use the media url instead of its ID. In this case
                you need to make a request to
                <strong>
                    {{ requestUri }}location/?url={imageUrl}&amp;token=yourInstagramAccessToken
                </strong>
            </h4>
            <h4>
                For a JSON formated response set your request Accept header
                value to application/json.
            </h4>
            <h4>
                For a XML formated response set your request Accept header
                value to application/xml.
            </h4>
        </div>
    </body>
{% include 'foot.twig' %}
