{% include 'head.twig' %}
    <body>
        <div class="page-header" style="text-align:center">
            <h1>Media Location Information</h1>
        </div>
        <div class="container">
            <h4>
                Location data for media ID
                <strong>{{ media.mediaID }}</strong>
            </h4>
            <h5><u>Main Location Data (from Instagram)</u></h5>
            <ul>
                <li>Location Name: {{ media.location.name }}</li>
                <li>Location ID: {{media.location.id }}</li>
                <li>
                    GeoPoint
                    <ul>
                        <li>Latitude: {{ media.location.geoPoint.latitude }}</li>
                        <li>Longitude: {{ media.location.geoPoint.longitude }}</li>
                    </ul>
                </li>
            </ul>
            <h5><u>Extendend Location Data (from GeoBytes)</u></h5>
            <p>Country Data</p>
            <ul>
                <li>Country Code: {{ media.location.countryCode }}</li>
                <li>Country Title: {{ media.location.countryTitle }}</li>
                <li>Population: {{ media.location.population }}</li>
            </ul>
            <p>Currency Data</p>
            <ul>
                <li>Currency: {{ media.location.currency }}</li>
                <li>Currency Code: {{ media.location.currencyCode }}</li>
            </ul>
            <p>Region Data</p>
            <ul>
                <li>Region: {{ media.location.region }}</li>
                <li>Region Code: {{ media.location.regionCode }}</li>
                <li>Region Capital: {{ media.location.regionCapital }}</li>
            </ul>
            <p>Nearest City Data</p>
            <ul>
                <li>City: {{ media.location.city }}</li>
                <li>Timezone: {{ media.location.timezone }}</li>
                <li>Fully Qualified Name: {{ media.location.fqn }}</li>
            </ul>
        </div>
    </body>
{% include 'foot.twig' %}
